/*
 * Custom
 */

html,
body {
  height: 100%;
  background-color: white;
}

html, body, .container, #map {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
    margin-left: 1em !important;
}

#main-container{
  margin-top: 50px;
}

#map-container {
  height: 100px;
  background: red;
}

#time-container {
  height: 600px;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

path:hover { 
    stroke: red;
    stroke-width: 2;
    fill: none;
    z-index: 100;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}