/*
 * Custom
 */

html,
body {
  height: 100%;
  background-color: white;
}

html, body, .container, #map {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
    margin-left: 1em !important;
}

#main-container{
}

#map-container {
  height: 10px;
  background: red;
}

#timeTravel-container {
  height: 500px;
}

path { 
    stroke-width: 2;
    fill: none;
}

.top {
    stroke-width: 5;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis {
  font-size: 8px;
}