/*
 * Custom
 */

html,
body {
  height: 100%;
  background-color: white;
}

html, body, .container, #map {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
    margin-left: 1em !important;
}

#main-container{
  margin-top: 50px;
}

#map-container {
  height: 500px;
  background: red;
}

#time-container {
  height: 500px;
  background: green;
}